version: 2
jobs:
    docker:
        - image: circleci/php:7.0.22-apache-node
    build:
    working_directory: ~/app
    steps:
        - checkout
        - setup_remote_docker:
            docker_layer_caching: true
        - run:
            name: Build Docker image
            command: |
                docker build --file Dockerfile -t docker-build-cross .

workflows:
    version: 2
    build-deploy:
        jobs:
            - build