version: 2
jobs:
    build:
        machine: true
        working_directory: ~/app
        steps:
        - checkout
        - run:
            name: Build Docker image
            command: |
                docker build --file debian-jessie-cross -t debian-jessie-cross .

workflows:
    version: 2
    build-deploy:
        jobs:
            - build