version: 2
jobs:
    build-debian-stretch:
        machine: true
        working_directory: ~/app
        steps:
        - checkout
        - run:
            name: Build Docker image
            command: |
                export GIT_COMMIT=$(git rev-parse --short HEAD)
                cd debian-stretch
                docker build --file debian-stretch-cross.dockerfile -t it4smart/debian-stretch-cross:$GIT_COMMIT .
        
        - run:
            name: Push to DockerHub
            command: |
                export GIT_COMMIT=$(git rev-parse --short HEAD)
                docker login -u $DOCKERHUB_LOGIN -p $DOCKERHUB_PASSWORD
                docker push it4smart/debian-stretch-cross:$GIT_COMMIT

workflows:
    version: 2
    build-deploy:
        jobs:
            - build-debian-stretch