name: CI

on:
    push:
    pull_request:
        branches: [master]

jobs:
    lint-debian-stretch:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: brpaz/hadolint-action@v1.2.1
              with:
                dockerfile: debian-stretch/debian-stretch-cross.dockerfile
    lint-debian-buster:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - uses: brpaz/hadolint-action@v1.2.1
              with:
                dockerfile: debian-buster/debian-buster-cross.dockerfile