name: DockerImage

on:
    push:
    pull_request:
        branches: [master]

jobs:
    build-debian-stretch:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v1
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v1
            - name: Build
              uses: docker/build-push-action@v2
              with:
                context: debian-stretch
                file: debian-stretch/debian-stretch-cross.dockerfile
                platforms: linux/amd64
                push: false
                tags: it4smart/debian-stretch-cross:latest
    
    build-debian-buster:
        runs-on: ubunut-latest
        steps:
            - uses: actions/checkout@v2
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v1
            - name: Setup Docker Buildx
              uses: docker/setup-buildx-action@v1
            - name: Build
              uses: docker/build-push-action@v2
              with:
                context: debian-buster
                file: debian-buster/debian-buster-cross.dockerfile
                platforms: linux/amd64
                push: false
                tags: it4smart/debian-buster-cross:latest